.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  width: 1440px;
  background-color: hsl(212, 45%, 89%);
}
p {
  font-size: 15px;
}
#container {
  width: 500px;
  margin: 25em;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container img {
  width: 100px;
  height: 100px;
}
